<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="test maven builds" parallel="classes" thread-count="2">





	<test name="Test maven testing">

		<!-- <groups>
			<run>
				<include name="learnmorepage" />
			</run>
		</groups> -->


		 <classes>
			<class name="demotestproject.LoginTest" />
			<!-- <class name="testProject.HomepageTestCase" />
			<class name="testProject.TellUsTestCase" /> -->
		</classes> 



		<!-- <packages > <package name="testProject.*" /> </packages> -->
	</test>
</suite>